<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="Content-Type" />
    <meta lang="en" charset="UTF-8" content="text/html" />
    <meta name="description" content="An rpg game" />
    <title>Wizards-dreams</title>
    <link rel="SHORTCUT ICON" href="/images/characters/players/witch-girl.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="title-message">Server started</div>


    <div class="game-container">
        <canvas class="game-canvas"></canvas>
        <!-- width="352" height="198"-->

        <div class="controls-wrapper">
            <ul id="{{HTML_IDS.GAME_CHAT_UL}}"></ul>
            <div class="controls">
                <div class="chat-wrapper">
                    <form action="" id="{{HTML_IDS.GAME_CHAT_FORM}}">
                        <input id="{{HTML_IDS.GAME_CHAT_INPUT}}" autocomplete="off" title="chat" tabindex="0" />
                        <button id="{{HTML_IDS.GAME_CHAT_SUBMIT}}" type="submit" tabindex="0">Say</button>
                    </form>
                </div>
            </div>
        </div>
        <button id="{{HTML_IDS.CHARACTER_MODAL_BTN}}" class="">Create Character Menu</button>
        <ul style="list-style-type: none;">
            <li>
                <button id="{{HTML_IDS.SELECT_SERVER}}">Select Server</button>
            </li>
            <li><button style="cursor: pointer;" id="{{HTML_IDS.LOGOUT}}">Logout</button></li>
            <li><button style="cursor: pointer;" id="{{HTML_IDS.STOP_LOOP}}">Stop</button></li>
            <li><button style="cursor: pointer;" id="{{HTML_IDS.START_LOOP}}">Start</button></li>
            <li></li>
        </ul>

        <div id="{{HTML_IDS.SELECT_CHARACTERS}}"></div>

        <div class="server-select-modal" id="{{HTML_IDS.SERVER_SELECTION_MODAL}}">
            <div class="server-modal-content">
                <span id="{{HTML_IDS.CLOSE_SERVER_MODAL}}" class="close">&times;</span>
                <h2>Sever selection modal</h2>
                <div id="{{HTML_IDS.SERVER_SELECTION_BUTTONS_CONTAINER}}"></div>
            </div>
        </div>

        <div class="character-modal" id="{{HTML_IDS.CHARACTER_CREATE_MODAL}}">
            <div class="character-modal-content">
                <span class="close">
                    <form action="" id="{{HTML_IDS.CHARACTER_CREATE_FORM}}">

                        <label for="{{HTML_IDS.CHARACTER_NAME}}">Character Name:</label>
                        <input id="{{HTML_IDS.CHARACTER_NAME}}" type="text" placeholder="Name">

                        <p>Gender:</p>
                        <input type="radio" id="{{HTML_IDS.CHARACTER_GENDER_MALE_BTN}}" name="character-gender"
                            value="male">
                        <label for="{{HTML_IDS.CHARACTER_GENDER_MALE_BTN}}">Male</label>

                        <input type="radio" id="{{HTML_IDS.CHARACTER_GENDER_FEMALE_BTN}}" name="character-gender"
                            value="female">
                        <label for="{{HTML_IDS.CHARACTER_GENDER_FEMALE_BTN}}">Female</label>
                        <button id="{{ HTML_IDS.CHARACTER_CREATE_FORM_SUBMIT_BTN}}" type="submit">Finish</button>
                    </form>
                </span>
            </div>
        </div>
    </div>
</body>

</html>